@import './base.css';

main{
    width:100%;
    min-height: 100vh;
    display: flex;
    place-items: center;
    justify-content: center;
}

@media screen and (max-width: 980px) {
    main{
        padding:3vw 0;
        height: 100%;
    }
}
@media screen and (max-height: 700px) {
    main{
        height: 150%;
        overflow-y: visible;
    }
}